@model WebApplication1.Models.Cliente

@{
    ViewBag.Title = "Novo cliente";
}

<h2>Novo Cliente</h2>

@using (Html.BeginForm("SalvarCliente", "Cliente", FormMethod.Post))
{
    <div class="form-horizontal">

        @Html.Partial("_FrmCliente")

        <br />

        <div class="form-group">
            <div>
                <div class="row">
                    <div class="col-2">
                        <input type="submit" value="Salvar" class="btn btn-dark" />
                    </div>

                    <div class="col-2">
                        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

